@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.SideBar_adm{
    display: flex;
    min-width: 100vh;
    background-color: aliceblue;
}
main{
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
    background-color: aliceblue;
    color: #0a0a0a;
}


.adm_sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 95vh;
    border-radius:  0px 12px 12px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    gap: 24px;
    right: 1px;
    z-index: 2; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar_contentAdm{
    padding: 12px;
    padding-left: 25px;
}
.adm_user{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 12px;
    margin-bottom: 24px;
}
#userAdm_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    background-color: #0a0a0a;
}
.userAdm_infos{
    display: flex;
    font-size: 14px;
    flex-direction: column;
}
.userAdm_infos span:last-child{
    color: #0a0a0a;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 20px;
}

.linha {
    height: 2px; 
    background-color: #F6F6F6;
    margin: 10px 0; 
    width: 90%;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    
  }
.menu_sidebarAdm{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}
.sidebarAdm-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    border-radius: 8px;
    cursor: pointer;
}
#Favoritos{
    margin-top: 1px;
}
.has-submenu_sidbarAdm .submenu_sidbarAdm{
    list-style: none;
    padding: 1px;
    gap: 8px;
    display: none; 
    transition: all 0.3s ease;
    margin-bottom: 0;
}
.has-submenu_sidbarAdm a #arrow{
    display: none; 
}
#sidebar.open-sidebar .has-submenu_sidbarAdm:hover .submenu_sidbarAdm{
    display: block; 
}
#sidebar.open-sidebar .has-submenu_sidbarAdm a #arrow{
    display: inline; 
    transition: transform 0.3s ease; 
    transform: rotate(0deg);
}
#sidebar.open-sidebar .has-submenu_sidbarAdm:hover a #arrow{
    transform: rotate(180deg); 
}
#open_btn_icon{
    transition: transform .3s ease;}
.submenu_sidbarAdm li{
    margin-bottom: 10px;
    margin-left: 20px;
}
.submenu_sidbarAdm li a{
    font-size: 12px;
    color: #0a0a0a;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inder';
    font-weight: 500;
}
.submenu_sidbarAdm li a:hover{
    background-color: #D4E3FF;
    color: #455A64;
}
.sidebarAdm-item.active{
    background-color: #ffffff;
}
.sidebarAdm-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    font-family: 'Inter';
    gap: 12px;
}
.sidebarAdm-item.active a{
    color:#0a0a0a;
}
.sidebarAdm-item.active a{
    color:#0a0a0a;
}
.sidebarAdm-item a img{
    width: 20px;
    height: 20px;
}
#logout{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
#logout_btn{
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #0a0a0a;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#logout_btn a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-family:'Inter';
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    gap: 12px;
    white-space: nowrap;
}
#logout_btn a img{
    width: 20px;
    height: 20px;
}
#logout_btn:hover{
    background-color: #D4E3FF;
    color: #000;
}
#sidebar.open-sidebar #logout_btn .itemAdm-descricao{
    width: 150px;
}
#sidebar.open-sidebar #logout_btn{
    justify-content: flex-start;
    gap: 14px;
}
#open_btn{
    position: absolute;
    top: 30px;
    right: -16px;
    background-color: #FFFFFF;
    color: #0a0a0a;
    border-radius: 8px;
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
#open_btn_icon{
    transition: transform .3s ease;
}
#open_btn:hover{
    transform: scale(1.1);
}
.open-sidebar #open_btn_icon{
    transform: rotate(180deg);
}
.sidebarAdm-item a:hover{
    background-color: #D4E3FF;
}
.has-submenu_sidbarAdm .submenu_sidbarAdm li:hover:not(.active) a{
    background-color: #D4E3FF;
    color: #0a0a0a;
}
.has-submenu_sidbarAdm .submenu_sidbarAdm li.active a{
    background-color: #D4E3FF;
    color: #0a0a0a;
}

.itemAdm-descricao {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
    font-family:'Inter';
    font-size: 14px;
    font-weight: 500;
}

 */
#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .itemAdm-descricao {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}